body
{
	background-color: black;
	margin-top: 30px;
}

/* The whole site will be inside this div */
#div-container
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

/* Div where adding form is placed */
#div-adding_form
{
	padding: 20px;
	background-color: white;
	text-align: center;
}

/* Div where last added items are shown */
#div-last
{
	color: black;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-top: 1px;
	background-color: #aacccf;
}


#div-last a:link, a:visited
{
	color: red;
	text-decoration: none;
	font-size: 0.9em;
}

#div-last h3
{
	margin-bottom: 0px;
}

#div-last a:hover
{
	background-color: white;
}

/* Error div what will be shown if there is no permissions
   to create file */
#div-error
{
	width: 600px;
	height: 50px;
	background-color: white;
	text-align: center;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* Response div is used to show "Your URL" */
#div-response
{
	width: 600px;
	height: 50px;
	background-color: white;
	text-align: center;
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#div-response a:link, a:visited
{
	text-decoration: none;
	color: black;
}

#div-response a:hover
{
	text-decoration: underline;
	background-color: #888777;
}

#div-bottom
{
	background-color: white;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	text-align: center;
}

